from setuptools import setup


def readme():
    with open('README.rst') as f:
        return f.read()


setup(
    name='{{ package_name }}',
    version='0.1',
    description='{{ description }}',
    long_description=readme(),
    url='{{ url }}',
    author='{{ author }}',
    license='{{ license }}',
    packages=['{{ package_name }}'],
    zip_safe=False)
