from setuptools import setup

def readme():
    with open('README.md') as f:
        return f.read()

setup(
    name='{{ app_name }}',
    version='0.1',
    description='{{ description }}',
    long_description=readme(),
    url='{{ url }}',
    author='{{ author }}',
    license='{{ licence }}',
    packages=['{{ app_name }}'],
    zip_safe=False)
